{% extends '@Gui/Layout/layout.twig' %}

{% block headTitle %}
    Hello Spryker!
{% endblock %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <div style="padding-top: 10%; padding-bottom: 20%">
        <h1 style="text-align: center"><b>{{ string }}</b></h1>
    </div>
{% endblock %}

{% block footer %}
    <hr>
{% endblock %}
